<div class="container">
  <div class="intro">
    <h2><strong>Introduction to Backbone.js Views</strong></h2><hr>
    <h4>Learning Outcomes:</h4>
      <ul>
        <li>Describe What a View is in Backbone</li>
        <li>Know how to include Backbone.js</li>
        <li>Understand View Attributes + Abilities</li>
      </ul>
      <h4>How to's and background info</h4>
      <ul>
        <a href="/1"><li>Learn how to escape underscore methods</li></a>
        <a href="/2"><li>How to render a template</li></a>
        <a href="/3"><li>How to iterate through an array using underscore</li></a>
      </ul>

  </div>
</div>
