<div class="container">
  <div class="intro">
    <h2><strong>Introduction to Backbone</strong></h2><hr>

      <h4>Views</h4>
      <ul>
        <a href="/underscore_escape"><li>Learn how to escape underscore methods</li></a>
        <a href="/render_template"><li>How to render a template</li></a>
        <a href="/iteration"><li>How to iterate through an array using underscore</li></a>
        <a href="/each_method"><li>Each method of Underscore</li></a>
        <a href="/backbone_views"><li>Backbone Views</li></a>
        <a href="/using_views"><li>Re-using Backbone Views</li></a>
      </ul>

      <h4>Models</h4>
      <ul>
        <a href="/models_intro"><li>Intro to Backbone Models</li></a>
        <a href="/model_build"><li>Building a model</li></a>
        <a href="/model_view"><li>Rendering a Model in a View</li></a>
        <a href="/model_collections"><li>Using Collections</li></a>
      </ul>

  </div>
</div>
