<div class="container">
  <h2><strong>Introduction to Backbone.js Views</strong></h2><hr>
  <h4>Learning Outcomes:</h4>
  <ul>
    <li>Describe What a View is</li>
    <li>Understand View Attributes + Abilities</li>
  </ul>
</div>
