<h3>Exercise 4</h3>
<h4>Intro to Backbone Collection</h4>

<p>
  A collection inherits from models, and has additional methods baked in, such as 'Create'.  It connects directly to the RESTful API and 
</p>

<a href="/">Home</a>
